@import './base.css';
@import "tailwindcss";
@import "./flatpickr-custom.css";
@import "./editor.css"; 
@import "flatpickr/dist/flatpickr.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./header.css";

#app {
  background-color: #FCFCFD;
}
.frame {
  width: 1280px;
  margin: 0 auto;
  justify-self: center;
  border: solid 1px #E5E7EB;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.btn {
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}
.white-btn{
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  border: solid 1px #79717136;
  background-color: white;
}
/* input 기본 css 제거 */
.custom-input {
  border: none;
	outline: none;
}
.border-gray {
  border: 1px solid #e5e7eb;
}
.hover-green:hover {
  border-color: #10b981; /* 초록색 */
}